In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/ratings.csv')

In [4]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
from sklearn.neighbors import NearestNeighbors

In [54]:
n_users = df['userId'].max()
# n_items = df.movieId.unique().shape[0]
n_items = df['movieId'].max()

In [80]:
n_users, n_items

(610, 193609)

In [68]:
A = np.zeros((n_users, n_items))
for line in df.itertuples():
    A[line[1]-1,line[2]-1] = line[3]

In [69]:
A

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [70]:
from scipy.sparse import csr_matrix

In [71]:
csr_sample = csr_matrix(A)

In [79]:
print(csr_sample)

  (0, 0)	4.0
  (0, 2)	4.0
  (0, 5)	4.0
  (0, 46)	5.0
  (0, 49)	5.0
  (0, 69)	3.0
  (0, 100)	5.0
  (0, 109)	4.0
  (0, 150)	5.0
  (0, 156)	5.0
  (0, 162)	5.0
  (0, 215)	5.0
  (0, 222)	3.0
  (0, 230)	5.0
  (0, 234)	4.0
  (0, 259)	5.0
  (0, 295)	3.0
  (0, 315)	3.0
  (0, 332)	5.0
  (0, 348)	4.0
  (0, 355)	4.0
  (0, 361)	5.0
  (0, 366)	4.0
  (0, 422)	3.0
  (0, 440)	4.0
  :	:
  (609, 156370)	5.0
  (609, 156725)	4.5
  (609, 157295)	4.0
  (609, 158237)	5.0
  (609, 158720)	3.5
  (609, 158871)	3.5
  (609, 158955)	3.0
  (609, 159092)	3.0
  (609, 160079)	3.0
  (609, 160340)	2.5
  (609, 160526)	4.5
  (609, 160570)	3.0
  (609, 160835)	3.0
  (609, 161581)	4.0
  (609, 161633)	4.0
  (609, 162349)	3.5
  (609, 163936)	3.5
  (609, 163980)	3.5
  (609, 164178)	5.0
  (609, 166527)	4.0
  (609, 166533)	4.0
  (609, 168247)	5.0
  (609, 168249)	5.0
  (609, 168251)	5.0
  (609, 170874)	3.0

In [41]:
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=3, n_jobs=-1)
knn.fit(csr_sample)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=3)

In [44]:
dataset_sort_des = df.sort_values(['userId', 'timestamp'], ascending=[True, False])
filter1 = dataset_sort_des[dataset_sort_des['userId'] == 1].movieId
filter1 = filter1.tolist()
filter1 = filter1[:20]

In [49]:
print("Movies liked by user: ",filter1)

Movies liked by user:  [2492, 2012, 2478, 553, 1445, 157, 780, 1298, 3053, 3448, 151, 1090, 1224, 527, 5060, 3147, 2353, 47, 593, 3033]

In [81]:
distances1=[]
indices1=[]
for i in filter1:
    distances , indices = knn.kneighbors(csr_sample[1], n_neighbors=3)
    indices = indices.flatten()
    indices= indices[1:]
    indices1.extend(indices)
print("Items to be recommended: ",indices1)

Items to be recommended:  [365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416, 365, 416]

In [78]:
csr_sample.T[2492]

<1x610 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Column format>